/* Color */
:root {
  --lightBg: #f6f8f9;
  --backgroundColor: #eef1f4;
  --primaryColor: #d52130;
  --primaryHoverColor: #ae1827;
  --baseColor: #191b1d;
  --baseColorHover: #767676;
  --secondColor: #151617;
  --blueColor: #0380fd;
  --secondHoverColor: #0971e2;
  --greenColor: #14b292;
  --greenColorHover: #0f8f75;
  --grayColor: #e1e6eb;
  --grayColorHover: #d0d7dd;
  --lightGrayColor: #eceff3;
  --grayLinkColor: rgba(0,0,0,.35);
  --grayBlueColor: #9a9fa8;
}

/* Color End */
/*# sourceMappingURL=color.css.map */