@import "fonts.scss";
@import "size.scss";
@import "color.scss";
@import "main.scss";

.sketch_polygon_center{
    div{
        position: $pa;
        display: none;
        left: 50%;
        top: calc(100% + 5px);
        padding: $s_4;
        background-color: $wh;
        box-shadow: $s_2 $s_3 $s1 rgba(0,0,0,.3);
        transform: translateX(-50%);
        border-radius: $s_8;
        z-index: 3;
        &:after{
            position: $pa;
            content: '';
            left: 50%;
            top: -$s_5;
            display: block;
            margin-left: -$s_6;
            border-left: $s_6 solid transparent;
            border-right: $s_6 solid transparent;
            border-bottom: $s_6 solid $wh;
            z-index: 1;
        }
        span{
            position: $pr;
            display: $fl;
            padding: $s1 $s2_4 $s1 $s1_4;
            min-width: 180px;
            border-radius: $s_4;
            white-space: nowrap;
            &::after{
                position: $pa;
                content: '';
                top: 50%;
                right: $s1;
                height: $s1_4;
                width: $s1_4;
                background: url('../images/icon_next_arrow.svg') no-repeat center center;
                transform: translateY(-50%);
            }
            :hover{
                color: var(--primaryColor);
                background-color: var(--lightGrayColor);
            }
        }

    }
    &:hover,&.over{
        div{display: $fl;flex-direction: column;}
    }
}


