/* FontFace */
@font-face {
  font-family: 'manrope';
  font-weight: 200;
  src: url("../fonts/Manrope-ExtraLight.ttf") format("truetype"), url("../fonts/Manrope-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: 'manrope';
  font-weight: 300;
  src: url("../fonts/Manrope-Light.ttf") format("truetype"), url("../fonts/Manrope-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'manrope';
  font-weight: 400;
  src: url("../fonts/Manrope-Regular.ttf") format("truetype"), url("../fonts/Manrope-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'manrope';
  font-weight: 500;
  src: url("../fonts/Manrope-Medium.ttf") format("truetype"), url("../fonts/Manrope-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'manrope';
  font-weight: 600;
  src: url("../fonts/Manrope-SemiBold.ttf") format("truetype"), url("../fonts/Manrope-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: 'manrope';
  font-weight: 700;
  src: url("../fonts/Manrope-Bold.ttf") format("truetype"), url("../fonts/Manrope-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'manrope';
  font-weight: 800;
  src: url("../fonts/Manrope-ExtraBold.ttf") format("truetype"), url("../fonts/Manrope-ExtraBold.ttf") format("truetype");
}

/* FontFace End */
/* Size */
/* Size End */
/* Color */
:root {
  --lightBg: #f6f8f9;
  --backgroundColor: #eef1f4;
  --primaryColor: #d52130;
  --primaryHoverColor: #ae1827;
  --baseColor: #191b1d;
  --baseColorHover: #767676;
  --secondColor: #151617;
  --blueColor: #0380fd;
  --secondHoverColor: #0971e2;
  --greenColor: #14b292;
  --greenColorHover: #0f8f75;
  --grayColor: #e1e6eb;
  --grayColorHover: #d0d7dd;
  --lightGrayColor: #eceff3;
  --grayLinkColor: rgba(0,0,0,.35);
  --grayBlueColor: #9a9fa8;
}

/* Color End */
/* FontFace */
@font-face {
  font-family: 'manrope';
  font-weight: 200;
  src: url("../fonts/Manrope-ExtraLight.ttf") format("truetype"), url("../fonts/Manrope-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: 'manrope';
  font-weight: 300;
  src: url("../fonts/Manrope-Light.ttf") format("truetype"), url("../fonts/Manrope-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'manrope';
  font-weight: 400;
  src: url("../fonts/Manrope-Regular.ttf") format("truetype"), url("../fonts/Manrope-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'manrope';
  font-weight: 500;
  src: url("../fonts/Manrope-Medium.ttf") format("truetype"), url("../fonts/Manrope-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'manrope';
  font-weight: 600;
  src: url("../fonts/Manrope-SemiBold.ttf") format("truetype"), url("../fonts/Manrope-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: 'manrope';
  font-weight: 700;
  src: url("../fonts/Manrope-Bold.ttf") format("truetype"), url("../fonts/Manrope-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'manrope';
  font-weight: 800;
  src: url("../fonts/Manrope-ExtraBold.ttf") format("truetype"), url("../fonts/Manrope-ExtraBold.ttf") format("truetype");
}

/* FontFace End */
/* Size */
/* Size End */
/* Color */
:root {
  --lightBg: #f6f8f9;
  --backgroundColor: #eef1f4;
  --primaryColor: #d52130;
  --primaryHoverColor: #ae1827;
  --baseColor: #191b1d;
  --baseColorHover: #767676;
  --secondColor: #151617;
  --blueColor: #0380fd;
  --secondHoverColor: #0971e2;
  --greenColor: #14b292;
  --greenColorHover: #0f8f75;
  --grayColor: #e1e6eb;
  --grayColorHover: #d0d7dd;
  --lightGrayColor: #eceff3;
  --grayLinkColor: rgba(0,0,0,.35);
  --grayBlueColor: #9a9fa8;
}

/* Color End */
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

body {
  height: 100%;
  font-size: 14px;
  font-family: "manrope";
  color: var(--baseColor);
  line-height: 1.4;
  font-weight: 500;
  font-style: normal;
  position: relative;
  background-color: #fff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--baseColor);
  font-size: 14px;
  text-decoration: none;
}

a:hover {
  color: var(--baseColor);
  text-decoration: none;
}

a, abbr, acronym, address, applet, b, big, blockquote, body, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, tt, u, ul, var {
  padding: 0;
  margin: 0;
}

/* Other Style */
.clear-fix {
  display: block;
  clear: both;
}

.clear-fix::after {
  content: '.';
  display: block;
  height: 0;
  font-size: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box;
}

*, *:focus, *:active {
  -ms-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  box-sizing: border-box;
}

.dg {
  display: -ms-grid;
  display: grid;
}

.__dgc {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aic {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.__g1a1 {
  -ms-grid-columns: 1fr 250px 1fr;
      grid-template-columns: 1fr 250px 1fr;
}

.__g1 {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.__g1_2_1 {
  -ms-grid-columns: calc(25% - 8px) calc(50% - 16px) calc(25% - 8px);
      grid-template-columns: calc(25% - 8px) calc(50% - 16px) calc(25% - 8px);
}

.__g1_3 {
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
}

.__g1_4 {
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
}

.g2 {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.__g2_1 {
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
}

.__g1_2 {
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

.__g20_1 {
  -ms-grid-columns: 20% 1fr;
      grid-template-columns: 20% 1fr;
}

.__g2_5_2 {
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
}

.g3 {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.__g3_2 {
  -ms-grid-columns: 3fr 2fr;
      grid-template-columns: 3fr 2fr;
}

.__gc3_1 {
  -ms-grid-columns: 34px 1fr;
      grid-template-columns: 34px 1fr;
}

.__g4_1 {
  -ms-grid-columns: 4fr 1fr;
      grid-template-columns: 4fr 1fr;
}

.__gp_d_g {
  -ms-grid-columns: 1fr 56px;
      grid-template-columns: 1fr 56px;
}

.g4 {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.__g1_c290 {
  -ms-grid-columns: 1fr 290px;
      grid-template-columns: 1fr 290px;
}

.__g1_c400 {
  -ms-grid-columns: 1fr 400px;
      grid-template-columns: 1fr 400px;
}

.g5 {
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

.__g6 {
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

.__g60_1 {
  -ms-grid-columns: 60px 1fr;
      grid-template-columns: 60px 1fr;
}

.__g7 {
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
}

.__g8 {
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
}

.__gap_8 {
  gap: 8px;
}

.gap1 {
  gap: 10px;
}

.__gap1_5 {
  gap: 15px;
}

.gap1_6 {
  gap: 16px;
}

.gap2 {
  gap: 20px;
}

.gap2_4 {
  gap: 24px;
}

.__gap2_5 {
  gap: 25px;
}

.__gap3 {
  gap: 30px;
}

.__gap3_2 {
  gap: 32px;
}

.__gap4 {
  gap: 40px;
}

.__gapr4 {
  row-gap: 40px;
}

.__gc290_1_ {
  -ms-grid-columns: 290px 1fr;
      grid-template-columns: 290px 1fr;
}

.df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dfc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dfs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.dcsp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dsb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dssb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dfcc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.__dfsc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.__dfcs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.__dfss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.__dfce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex_g {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.__fd_c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.__fd_r {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.pr {
  position: relative !important;
}

.pa {
  position: absolute !important;
}

.pf {
  position: fixed;
}

.__pa_cc {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.__t1 {
  top: 10px;
}

.__t1_6 {
  top: 16px;
}

.__t2_4 {
  top: 24px;
}

.__t2 {
  top: 20px;
}

.__t3 {
  top: 30px;
}

.__b1 {
  bottom: 10px;
}

.__b1_6 {
  bottom: 16px;
}

.__b2 {
  bottom: 20px;
}

.__b3 {
  bottom: 30px;
}

.__b3_2 {
  bottom: 32px;
}

.__l1 {
  left: 10px;
}

.__l1_6 {
  left: 16px;
}

.__l2 {
  left: 20px;
}

.__l3 {
  left: 30px;
}

.__r1 {
  right: 10px;
}

.__r1_6 {
  right: 16px;
}

.__r2_4 {
  right: 24px;
}

.__r2 {
  right: 20px;
}

.__r3 {
  right: 30px;
}

.__r10 {
  right: 100px;
}

.__w10 {
  width: 100%;
}

.__cup {
  cursor: pointer;
}

.__tac {
  text-align: center;
}

.__ac {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.__jc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Padding Style */
.__p1 {
  padding: 10px;
}

.__p1_5 {
  padding: 15px;
}

.__p2 {
  padding: 20px;
}

.__p2_5 {
  padding: 25px;
}

.__p3 {
  padding: 30px;
}

.__pt1 {
  padding-top: 10px;
}

.__pb1 {
  padding-bottom: 10px;
}

.__pb1_5 {
  padding-bottom: 15px;
}

.__pl1 {
  padding-left: 10px;
}

.__pr1 {
  padding-right: 10px;
}

.__pl1_2 {
  padding-left: 12px;
}

.__pt2 {
  padding-top: 20px;
}

.__pb2 {
  padding-bottom: 20px;
}

.__pl2 {
  padding-left: 20px;
}

.__pr2 {
  padding-right: 20px;
}

.__pt25 {
  padding-top: 25px;
}

.__pb25 {
  padding-bottom: 25px;
}

.__pl25 {
  padding-left: 25px;
}

.__pr25 {
  padding-right: 25px;
}

.__pt3 {
  padding-top: 30px;
}

.__pb3 {
  padding-bottom: 30px;
}

.__pl3 {
  padding-left: 30px;
}

.__pl3_5 {
  padding-left: 35px;
}

.__pr3 {
  padding-right: 30px;
}

.__pt4 {
  padding-top: 40px;
}

.__pt6 {
  padding-top: 60px;
}

.__pb6 {
  padding-bottom: 60px;
}

.__pb6_8 {
  padding-bottom: 68px !important;
}

.__pb8 {
  padding-bottom: 80px;
}

/* Padding Style End */
/* Margin Style */
.__mt1 {
  margin-top: 10px !important;
}

.__mt1_2 {
  margin-top: 12px;
}

.__mb1 {
  margin-bottom: 10px !important;
}

.__ml_8 {
  margin-left: 8px;
}

.__ml1 {
  margin-left: 10px;
}

.__ml1_5 {
  margin-left: 15px;
}

.__ml1_6 {
  margin-left: 16px;
}

.__mr1 {
  margin-right: 10px;
}

.__mt1_6 {
  margin-top: 16px;
}

.__mt2 {
  margin-top: 20px;
}

.__mb2 {
  margin-bottom: 20px;
}

.ml2 {
  margin-left: 20px;
}

.__mr2 {
  margin-right: 20px;
}

.__mt25 {
  margin-top: 25px;
}

.__mb25 {
  margin-bottom: 25px;
}

.__mb2_4 {
  margin-bottom: 24px !important;
}

.__ml25 {
  margin-left: 25px;
}

.__mr25 {
  margin-right: 25px;
}

.__mt3 {
  margin-top: 30px !important;
}

.__mt3_2 {
  margin-top: 32px !important;
}

.__mb3 {
  margin-bottom: 30px;
}

.__ml3 {
  margin-left: 30px;
}

.__mr3 {
  margin-right: 30px;
}

.__mt4 {
  margin-top: 40px;
}

.__mt4_4 {
  margin-top: 44px;
}

.__mb4 {
  margin-bottom: 40px;
}

.__ml4 {
  margin-left: 40px;
}

.__mr4 {
  margin-right: 40px;
}

.__mt5 {
  margin-top: 50px;
}

.__mb5 {
  margin-bottom: 50px;
}

.__ml5 {
  margin-left: 50px;
}

.__mr5 {
  margin-right: 50px;
}

.__mb6 {
  margin-bottom: 60px;
}

.__mt6 {
  margin-top: 60px;
}

.__mt8 {
  margin-top: 80px;
}

.__mb8 {
  margin-bottom: 80px;
}

.__mb9 {
  margin-bottom: 90px;
}

.__mr12 {
  margin-right: 120px;
}

.__mc {
  margin-left: auto;
  margin-right: auto;
}

.__mt0 {
  margin-top: 0 !important;
}

.__mta {
  margin-top: auto;
}

.__m0 {
  margin: 0 !important;
}

/* Margin Style End */
/* Border Radius Style */
.__br1_6 {
  border-radius: 16px;
}

/* Border Radius Style End */
/* Main Style */
.container {
  margin: 0 auto;
  max-width: 1140px;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.full_container {
  margin: 0 auto;
  max-width: 1280px;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  color: #fff;
  background-color: var(--secondColor);
}

::selection {
  color: #fff;
  background-color: var(--secondColor);
}

/* Main Style End */
.sketch_polygon_center div {
  position: absolute;
  display: none;
  left: 50%;
  top: calc(100% + 5px);
  padding: 4px;
  background-color: #fff;
  -webkit-box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 8px;
  z-index: 3;
}

.sketch_polygon_center div:after {
  position: absolute;
  content: '';
  left: 50%;
  top: -5px;
  display: block;
  margin-left: -6px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  z-index: 1;
}

.sketch_polygon_center div span {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 24px 10px 14px;
  min-width: 180px;
  border-radius: 4px;
  white-space: nowrap;
}

.sketch_polygon_center div span::after {
  position: absolute;
  content: '';
  top: 50%;
  right: 10px;
  height: 14px;
  width: 14px;
  background: url("../images/icon_next_arrow.svg") no-repeat center center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sketch_polygon_center div span :hover {
  color: var(--primaryColor);
  background-color: var(--lightGrayColor);
}

.sketch_polygon_center:hover div, .sketch_polygon_center.over div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=detail-more.css.map */