.nice-select {
  -webkit-tap-highlight-color: transparent;
  background-color: #fff;
  border: solid 1px #e8e8e8;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  float: left;
  outline: none;
  position: relative;
  padding: 5px 8px;
  text-align: left !important;
  transition: all 0.2s ease-in-out;
          user-select: none;
  white-space: nowrap;
  width: 100%; }
  .nice-select .current{
    display: block;
    max-width: 140px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .nice-select:hover {
    border-color: #dbdbdb; }
  .nice-select:active, .nice-select.open, .nice-select:focus {
    border-color: #001022; }
  .nice-select:focus::before{
    display: none;
  }
  .nice-select:after {
    border-bottom: 1px solid #929aa5;
    border-right: 1px solid #929aa5;
    content: '';
    display: block;
    height: 8px;
    margin-top: -5px;
    pointer-events: none;
    position: absolute;
    right: 16px;
    top: 50%;
            transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    width: 8px; }
  .nice-select.open:after {
    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg); }
  .nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0); }
  .nice-select.disabled {
    border-color: #ededed;
    color: #999;
    pointer-events: none; }
    .nice-select.disabled:after {
      border-color: #cccccc; }
  .nice-select.wide {
    width: 100%; }
    .nice-select.wide .list {
      left: 0 !important;
      right: 0 !important; }
  .nice-select.right {
    float: right; }
    .nice-select.right .list {
      left: auto;
      right: 0; }
  .nice-select.small {
    font-size: 12px;
    height: 32px;
    line-height: 32px; }
    .nice-select.small:after {
      height: 4px;
      width: 4px; }
    .nice-select.small .option {
      line-height: 32px;
      min-height: 32px; }
  .nice-select .list {
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-color: #fff;
    border-radius: 8px;
    box-sizing: border-box;
    margin-top: 7px;
    opacity: 0;
    min-width: calc(100% + 2px);
    max-width: 340px;
    overflow: hidden;
    padding: 4px;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: -1px;
    -webkit-transform-origin: 50% 0;
        -ms-transform-origin: 50% 0;
            transform-origin: 50% 0;
    -webkit-transform: translateY(-21px);
        -ms-transform: translateY(-21px);
            transform: translateY(-21px);
    -webkit-transition: all .15s cubic-bezier(0.5, 0, 0, 1.25), opacity .1s ease-out;
    transition: all .15s cubic-bezier(0.5, 0, 0, 1.25), opacity .1s ease-out;
    z-index: 9; }
  .nice-select .option {
    color: #495460;
    cursor: pointer;
    line-height: 38px;
    list-style: none;
    min-height: 38px;
    outline: none;
    padding: 0 14px;
    white-space: wrap;
    text-overflow: ellipsis;
    text-align: left;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    border-radius: 4px;
    overflow: hidden;
  }
  .nice-select .option ~ .option{

  }
    .nice-select::placeholder{
      color: #D5D7DD;
    }
    .nice-select .option:hover, .nice-select .option.focus{
      background-color: #f5f7fa; }
    .nice-select .option.selected,
    .nice-select .option.selected:hover,
    .nice-select .option.selected.focus{
      color: #fff;
      background-color: #0380fd !important;
     }
    .nice-select .option.disabled {
      background-color: transparent;
      color: #999;
      cursor: default; }

.no-csspointerevents .nice-select .list {
  display: none; }

.no-csspointerevents .nice-select.open .list {
  display: block; }
